[package]
name = "pubky-homeserver"
description = "Pubky core's homeserver."
version = "0.5.3"
edition.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
keywords = ["pkarr", "sovereign", "web", "pkarr", "datastore"]
categories = [
    "network-programming",
    "cryptography",
    "web-programming",
    "authentication",
]

[dependencies]
anyhow = "1.0.95"
axum = { version = "0.8.1", features = ["macros"] }
axum-extra = { version = "0.10.0", features = [
    "typed-header",
    "async-read-body",
] }
base32 = "0.5.1"
base64 = "0.22.1"
bytes = "^1.10.0"
clap = { version = "4.5.29", features = ["derive"] }
flume = "0.11.1"
futures-util = "0.3.31"
heed = "0.21.0"
hex = "0.4.3"
httpdate = "1.0.3"
postcard = { version = "1.1.1", features = ["alloc"] }
pkarr = { workspace = true, features = ["dht", "lmdb-cache", "tls"] }
pubky-common = { path = "../pubky-common", version = "0.5.3" }
serde = { version = "1.0.217", features = ["derive"] }
tokio = { version = "1.43.0", features = ["full"] }
toml = "0.8.20"
tower-cookies = "0.11.0"
tower-http = { version = "0.6.2", features = ["cors", "trace"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
url = { version = "2.5.4", features = ["serde"] }
axum-server = { version = "0.7.1", features = ["tls-rustls-no-provider"] }
tower = "0.5.2"
page_size = "0.6.0"
pkarr-republisher = { path = "../pkarr-republisher", version = "0.5.1" }
thiserror = "2.0.12"
dirs = "6.0.0"
hostname-validator = "1.1.1"
axum-test = "17.2.0"
tempfile = { version = "3.10.1" }
dyn-clone = "1.0.19"
reqwest = { version = "0.12.15", default-features = false, features = [
    "rustls-tls",
] }
governor = "0.10.0"
fast-glob = "0.4.5"
tokio-util = "0.7.15"
percent-encoding = "2.3.1"
serde_valid = "1.0.5"
opendal = { version = "0.54.0", features = ["services-fs"] }
infer = "0.19.0"
mime_guess = "2.0.5"
dav-server-opendalfs = "0.6.2"
dav-server = "0.8.0"


[dev-dependencies]
futures-lite = "2.6.0"
uuid = { version = "1.7.0", features = ["v4"] }


[features]
default = ["storage-gcs"]
# Optional storage types
storage-gcs = ["opendal/services-gcs"]
storage-memory = ["opendal/services-memory"]

# Optional testing methods
testing = ["storage-memory"]
