version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "08:00"
      day: "tuesday"
    commit-message:
      prefix: "deps"
    rebase-strategy: "auto"
    groups:
      cargo-dependencies:
        patterns:
          - "*"