[package]
name = "authn"
version = "0.1.0"
edition.workspace = true
publish = false

[[bin]]
name = "signup"
path = "./authn/signup.rs"

[[bin]]
name = "authenticator"
path = "./authz/authenticator.rs"

[[bin]]
name = "request"
path = "./request/main.rs"

[dependencies]
anyhow = "1.0.95"
base64 = "0.22.1"
clap = { version = "4.5.29", features = ["derive"] }
pubky = { workspace = true }
pubky-common = { workspace = true }
reqwest = "0.12.12"
rpassword = "7.3.1"
tokio = { version = "1.43.0", features = ["macros", "rt-multi-thread"] }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
url = "2.5.4"
