# The main directory to store the Pubky data in.
# Defaults to "~/.pubky/"
data_dir = "~/.pubky/"

# Secret key (in hex) to generate the Homeserver's Keypair
# secret_key = "0000000000000000000000000000000000000000000000000000000000000000"

# The interval at which user keys are republished to the DHT.
user_keys_republisher_interval = 14400  # 4 hour in seconds

# Storage directory Defaults to <System's Data Directory>
#
# Storage path can be relative or absolute.
storage = "./storage/"

[admin]
# Set an admin password to protect admin endpoints.
# If no password is set, the admin endpoints will not be accessible. 
password = "admin"
# Set signup_mode to "open" to allow anyone to signup a new user,
# otherwise, "token_required" (the default) to require a valid invite token on signup;
signup_mode = "token_required"

[io]
# The port number to run an HTTP (clear text) server on.
http_port = 6286
# The port number to run an HTTPs (Pkarr TLS) server on.
https_port = 6287

# The public IP of this server.
# 
# This address will be mentioned in the Pkarr records of this
#   Homeserver that is published on its public key (derivde from `secret_key`)
public_ip = "127.0.0.1"

# If you are running this server behind a reverse proxy,
#   you need to provide some extra configurations.
[io.reverse_proxy]
# The public port should be mapped to the `io::https_port`
#   and you should setup tcp forwarding (don't terminate TLS on that port).
public_port = 6287

# If you want your server to be accessible from legacy browsers,
#   you need to provide some extra configurations.
[io.legacy_browsers]
# An ICANN domain name is necessary to support legacy browsers
#
# Make sure to setup a domain name and point it the IP
#   address of this machine where you are running this server.
#
# This domain should point to the `<public_ip>:<http_port>`.
# 
# Currently we don't support ICANN TLS, so you should be running
#   a reverse proxy and managing certificates there for this endpoint.
domain = "example.com"
